body, html {
    height: 100%;
    margin: 0;
}
.block1 {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.block2 {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.block2s {
    border: 1px dashed black;
    padding: 10px;
    text-align: center;
}
.block3f {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.block3s {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}