.href {
    color: black;
    font-size: large;
}
.src {
    margin-top: 50px;
    text-align: center;
}
.container-fluid {
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.select, .input {
    margin: 5px;
}
.button {
    text-align: center;
}