body, html {
    height: 100%;
    margin: 0;
}
.block1 {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.block2f {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color:antiquewhite;
}
.block2s {
    border: 1px dashed black;
    padding: 10px;
    text-align: center;
    background-color: gray;
}
.block2t {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color:darkseagreen;
}
.block3f {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.block3s {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.container-fluid {
    display: flex;
    flex-direction: column;
}